$primary-color: rgb(8, 9, 9);
$secondary-color: #0f0;
$tertiary-color: #00f;

//Fonts with font weights
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;

//Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-extra-large: 32px;

//Border radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;


//Additional colors
$white: #fff;
$black: #000;
$grey: #808080;
$light-grey: #f5f5f5;
$dark-grey: #333;
$light-red: #fa4949;
$light-green: #6df56d;
$light-blue: #9d9df7;
$light-yellow: #f7f768;
$light-orange: #fda248;
$light-purple: #b777f3;

